body {
  margin: 0;
  padding: 0;
  background-color: #222321;
}

.navbarstuff {
  color: whitesmoke;
  height: 3.4rem;
  font-size: 1.6rem;
}

@media (max-width: 320px) {
  .navbarstuff {
    font-size: 1.5rem;
  }
}
